#table-overflow {
    overflow: auto;
    max-height: 420px; 
}

#roomList {
    overflow: auto; 
    max-height:120px;
    height: 150px;
}

#padded-box {
    padding: 20px
}

#computer-form-box {
    background-color: rgb(223, 223, 223); 
    padding: 10px
}