<!DOCTYPE html>
<html>
  <head>
    <title>Computers-Dev</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="custom-styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/mocha/mocha.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>

  <body style="margin: 20px">
    <h3>Desk Manager</h3>
    <h4 class="text-muted">Status Checker</h4>
    <br />
    <div class="row">

      <!-- COMPUTER CONTROLLER -->
      <div id="padded-box" class="col-sm-4 border border-secondary rounded">
        <div id="formBox">
          <h5>Computer Room</h5>

          <!-- Add Room Form -->
          <div id="computer-form-box" class="border border-secondary rounded;">
            <form method="post" action="/add">
              <div class="form-group">
                <label for="pcidInput">ID (10 characters)</label>
                <input
                  type="text"
                  name="pcidInput"
                  class="form-control"
                  maxlength="10"
                  placeholder="Type here..."
                />
              </div>
              <div class="form-group">
                <label for="statusInput">Status</label>
                <select name="statusInput" class="form-control">
                  <option>Working</option>
                  <option>Not working</option>
                  <option>Scheduled for maintenance</option>
                  <option>N/A</option>
                </select>
              </div>
              <div class="form-group">
                <label for="notesInput">Notes</label>
                <input
                  type="text"
                  name="notesInput"
                  class="form-control"
                  placeholder="Type here..."
                />
              </div>
              <div class="form-group">
                <label for="roomidInput">Room ID</label>
                <input
                  type="number"
                  name="roomidInput"
                  class="form-control"
                  placeholder="Type here..."
                />
              </div>
              <input
                type="submit"
                id="btnComputerAdd"
                class="btn btn-primary"
                value="Confirm"
              />
            </form>
          </div>
        </div>

        <!-- Filter Room Form -->
          <div id="computer-form-box">
            <div id="formBox">
              <form method="post" action="/dcfilter">
                <div class="form-group">
                  <label for="roomid">Room ID Filter</label>
                  <input
                    type="text"
                    name="roomidFilter"
                    class="form-control"
                    placeholder="Type here..."
                  />
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" />
                  <a href="/dc">Remove Filter</a>
                </div>
              </form>
            </div>
          </div>
      </div>

      <!-- COMPUTER TABLE -->
      <div id="padded-box" class="col-sm-6 border border-secondary rounded">
        <div id="table-overflow">
          <h6 id="txtRoomSel" style="color: green"></h6>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Computer ID</th>
                <th>Computer status</th>
                <th>Computer notes</th>
                <th>Room ID</th>
              </tr>
            </thead>
            <tbody id="tblComputer">
              <% for (i = 0; i < computers.length; i++) { %>
              <tr>
                <td><%= computers[i].pcid %></td>
                <td><%= computers[i].status %></td>
                <td><%= computers[i].notes %></td>
                <td><%= computers[i].roomid %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
