#padded-box {
  padding: 20px;
}

.main-header {
    background-color: #343a40; 
    color: white; height: 40px;
}

.main-socket {
  background-color: #343a40; 
  color: gray; height: 40px;
  text-align: right;
} 

.table {
  border-collapse: collapse;
  table-layout: fixed;
}

.table tbody {
  display: block;
  height: 500px;
  overflow: auto;
  width: 100%;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table thead {
  display: block;
}

.table th,
.table td {
  padding: 10px;
  width: 200px;
}
